*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.button {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px 16px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  box-shadow: 0 0 2px rgb(0 0 0 / 0%);
  border-radius: 2px;
  color: #595959;
  font-size: 16px;
  line-height: 24px;
  transition: 0.2s ease-in-out;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
