.challenge {
  padding-top: 4.375rem;
  height: calc(100vh - 8.75rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-bottom: 2rem;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  &__next {
    color: #fff;
    background-color: #1890ff;
  }

  &__answer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  &__eng-word {
    font-size: 1.4rem;
    font-weight: 600;
  }

  &__image {
    height: 15rem;
  }
}

.translate {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  &__item {
    justify-content: center;
    min-width: 6rem;
    height: 2.5rem;
    background-color: #40698f;
    color: #fff;
    font-size: 1.2rem;
  }
}

._disabled {
  opacity: 0;
}

.true {
  background-color: green !important;
}

.false {
  background-color: rgb(209, 65, 65) !important;
}

.sound-word {
  border: none;
  background-color: inherit;
}