.sprint-result {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30rem;
  height: 10rem;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #504857;
  border-radius: 0.7rem;
  &__score {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
  }
  &__button {
    background-color: #9f0eab;
    border: 0;
  }
}

.score {
  margin-left: 1rem;
  color: red;
}