.stats {
  background-color: #dec7fd;
  .stats__wrapper {
    padding-top: 80px;
    .stats__title {
      text-align: center;
    }
    .day__stats {
      .stats__card-day {
        width: 800px;
        margin: 0 auto;
      }
    }
    .game-stats__wrapper {
      display: flex;
    }
    .stats__card {
      height: 250px;
      background-color: #ffffff;
      box-shadow: 0 0 5px 0;
      border-radius: 20px;
      .stats__card__wrapper {
        padding: 20px;
      }
    }
  }
}
