.word__wrapper {
  background-color: #ffffff;
  width: 90%;
  margin: 20px auto 0;
  border-radius: 20px;
  box-shadow: 0 0 5px 0;
  .word__content {
    display: flex;
    .word__img {
      width: 300px;
      border-radius: 20px 0px 0px 20px;
      min-height: 250px;
      object-fit: cover;
      margin-right: 20px;
    }
    .word__description {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .word__header {
        display: flex;
        align-items: center;
        .word__transcription {
          margin: 0 10px;
        }
        .volume__btn {
          margin-left: 10px;
          background-color: transparent;
          border: none;
          cursor: pointer;
          padding: 0;;
        }
      }
      .word__meaning, .word__example {
        margin-bottom: 5px;
      }
    }
  }
}
